<div class="flex p-4" data-search-filters>
  <label class="mr-2">Order by:</label>
  <%= select_tag :order_by, options_for_select([ "Default", "Name", "Price" ], "Default"),
    { "data-search-order-by" => "true" }
  %>
</div>

<div class="search-bikes" data-search-bikes>
  <div class="w-full text-center italic p-2">
    Searching...
  </div>
</div>
