<div class="wrapper--small">
  <div class="card">
    <%= render partial: "common/bike", locals: { bike: @bike } %>
    <div class="pt-6" [data-booking-form]>
      <%= button_to("Book", new_bike_booking_path(@bike.id), class: "button", method: :get) %>
    </div>
  </div>
</div>
